.table-wrapper {
    display: flex;
    flex-direction: column;
    
    width: 60em;
}
.table-row {
    display: flex;
    flex-direction: row;
    background-color: rgb(40, 44, 52);
}
.table-row:hover {
    background-color: rgb(58, 63, 71);
}
.table-cell {
    display: inline-block;
    width: 20em;
    border:#f0f0f0 1px solid;
    padding: 1em;
}
.contents-div{
    display: flex;
    background-color: rgb(20, 22, 32);
    box-sizing:border-box;
    border:#f0f0f0 1px solid;
    
    height: 20em;
    width: 100%;

    padding: 1em;

    justify-content: center;
    align-content: flex-start;
}
