.data-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #14213D;
  color: white;
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

.data-body{
  display: grid;
  grid-template-columns: auto auto;
  margin: 0px;
  padding: 0px;
  border: 2px solid black;
}
.sorting-button-container{
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 10vw;
  margin: 0px;
  padding: 20px;
  border-right: 1px black solid;
}
.sorting-button-container > h3 {
  color: black;
  font-size: 18px;
  padding-bottom: 10px;
}
.sorting-button-container > h4 {
  color: black;
  font-size: 16px;
  padding-bottom: 5px;
}
.filter-buttons {
  margin: 20px 0px 20px 0px;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  background-color: #E5E5E5;
  width: 75vw;
  height: 75vh;
  align-self: center;
  padding: 20px;
  margin: 0px;
  overflow: auto;
  border-left: 1px black solid;
}
.error-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  width: 100%;
  text-align: center;
  font-size: 6vmin;
  padding: 20vh 0 5vh 0;
  color: white;
}
.above-playlist-container {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 7vh;
    padding: 2vh 0vh 2vh 0vh;
}

.playlist-number{
    margin-left: auto;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 2vh 0 1vh 0;
  color: white;
}