.data-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: flex-start;
  background-color: #14213D;
  color: white;
  min-height: 100vh;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  background-color: #E5E5E5;
  width: 80%;
  align-self: center;
  padding: 20px;
}
.error-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  width: 100%;
  text-align: center;
  font-size: 6vmin;
  padding: 20vh 0 5vh 0;
  color: white;
}
.above-playlist-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-start;
    width: 80%;
    height: 2em;
    align-items: center;
}
.filter-buttons {
}
.playlist-number{
    margin-left: auto;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 5vh 0 20vh 0;
  color: white;
}
.footer-button {

}