.data-page-main {
    display: flex;
    flex-direction: column;
}
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 33%;
    align-content: flex-start;
    justify-content: space-between;
    background-color: black;
    width: 80%;
    align-self: center;
}