@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
  }
  .grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 10vh 35vh 35vh 20vh;
    grid-template-columns: 5vw auto 20vw 20vw 10vw;
    grid-gap: 0px;
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .title-header {
      color: rgb(0, 0, 0);
      font-size: 48px;
      font-family: 'Open Sans';
      font-weight: 600;
      text-decoration: underline;
      padding-top: 100px;
      padding-right: 100px;
  }
  .subtitle-header {
      color: rgb(0, 0, 0);
      font-size: 32px;
      font-family: 'Open Sans';
      font-weight: 400;
      padding-right: 113px;
  }
  .white-bg{
    background-color: white;
  }
  .navy-bg{
    background-color: #14213D;
  }
  .circle-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(20,33,61,1) 50%);
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 2;
  }
  #record-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background: #B3679B;
    height: 70vh;
    width: 70vh;
    filter: drop-shadow(1px 1px 0px #B3679B) drop-shadow(-1px 1px 0px #B3679B) drop-shadow(1px -1px 0px #B3679B) drop-shadow(-1px -1px 0px #B3679B);
    border-radius: 50%;
  }
  #record {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 50%;
    transform: rotate(-5deg);
  }
  .left-border{
    border-left: 20px solid #B3679B;
  }
  .right-border{
    border-right: 20px solid #B3679B;
  }
  .main-button {

    color: black;

    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 2em;
    text-decoration: none;
    margin-top: 150px;
    margin-right: 110px;
    padding: 0.7em;
    border: 2px solid black;
    
    border-radius: 1em;
    
}
.main-button:hover{
    transition: background-color 0.1s;
    background-color: rgb(30 215 96);
    color: black;
}